MyOrg2022/force-app/main/default/flows/AccountToContactUdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddstoredContactvalues</name>
        <label>AddstoredContactvalues</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ReadyToUpdateContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AllContactRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllContactRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTheLastName</name>
        <label>SetTheLastName</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AllContactRecords.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllContactRecords.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddstoredContactvalues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PhoneORNameChanged</name>
        <label>PhoneORNameChanged</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>phoneOrNameUpdated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedContacts</targetReference>
            </connector>
            <label>phoneOrNameUpdated</label>
        </rules>
    </decisions>
    <description>phone = phone
name =lastname</description>
    <interviewLabel>AccountToContactUdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountToContactUdate</label>
    <loops>
        <name>AllContactRecords</name>
        <label>AllContactRecords</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>GetRelatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetTheLastName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedContacts</name>
        <label>GetRelatedContacts</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllContactRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>UpdateContacts</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <faultConnector>
            <targetReference>AllErrorRecords</targetReference>
        </faultConnector>
        <inputReference>ReadyToUpdateContactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PhoneORNameChanged</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>AllErrorRecords</name>
        <label>AllErrorRecords</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <flowName>PaltformEventFireFlow</flowName>
        <inputAssignments>
            <name>CurrentObject</name>
            <value>
                <stringValue>contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentrecordIds</name>
            <value>
                <elementReference>AllContactRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FaultMSG</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OprecationType</name>
            <value>
                <stringValue>update</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ReadyToUpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
