MyOrg2022/force-app/main/default/flows/Set_opportunity_Legacy_Business.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>opportunityRecordTypeNewBusinessNewBusiness</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NewBusiness</stringValue>
        </value>
    </constants>
    <constants>
        <name>OptyRctypeInnerYear</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InnerYear</stringValue>
        </value>
    </constants>
    <constants>
        <name>optyrctypeRenewal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>optyRctypeCheck</name>
        <label>optyRctypeCheck</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>condition_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Optystages</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Legacy_Business</targetReference>
            </connector>
            <label>condition 1</label>
        </rules>
        <rules>
            <name>condition_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Optystages</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legacy_Business</targetReference>
            </connector>
            <label>condition 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>update opportunity  Legacy Business {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set opportunity  Legacy Business</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Legacy_Business</name>
        <label>Legacy Business</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Legacy_Business__c</field>
            <value>
                <stringValue>h-Platts</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Legacy_Business</name>
        <label>Update Legacy Business</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Legacy_Business__c</field>
            <value>
                <stringValue>h-ENR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>optyRctypeCheck</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
